---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/alexGrandolph/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fada4069e756acb8cb35326f269272f666e26ecd1debc2531c7951f30b2bcefd"
      Last-Modified:
      - Fri, 15 Apr 2022 22:03:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1650487720'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"id":479468945,"node_id":"R_kgDOHJQdkQ","name":"little-esty-shop","full_name":"alexGrandolph/little-esty-shop","private":false,"owner":{"login":"alexGrandolph","id":96802470,"node_id":"U_kgDOBcUWpg","avatar_url":"https://avatars.githubusercontent.com/u/96802470?v=4","gravatar_id":"","url":"https://api.github.com/users/alexGrandolph","html_url":"https://github.com/alexGrandolph","followers_url":"https://api.github.com/users/alexGrandolph/followers","following_url":"https://api.github.com/users/alexGrandolph/following{/other_user}","gists_url":"https://api.github.com/users/alexGrandolph/gists{/gist_id}","starred_url":"https://api.github.com/users/alexGrandolph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexGrandolph/subscriptions","organizations_url":"https://api.github.com/users/alexGrandolph/orgs","repos_url":"https://api.github.com/users/alexGrandolph/repos","events_url":"https://api.github.com/users/alexGrandolph/events{/privacy}","received_events_url":"https://api.github.com/users/alexGrandolph/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alexGrandolph/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/alexGrandolph/little-esty-shop","forks_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/forks","keys_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/events","assignees_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/merges","archive_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/alexGrandolph/little-esty-shop/deployments","created_at":"2022-04-08T16:47:03Z","updated_at":"2022-04-15T22:03:42Z","pushed_at":"2022-04-20T15:57:17Z","git_url":"git://github.com/alexGrandolph/little-esty-shop.git","ssh_url":"git@github.com:alexGrandolph/little-esty-shop.git","clone_url":"https://github.com/alexGrandolph/little-esty-shop.git","svn_url":"https://github.com/alexGrandolph/little-esty-shop","homepage":"","size":1366,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":40,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":40,"watchers":2,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
[...]
